{% extends 'partials/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<!doctype html>
<html lang="en">
<main>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 pt-4">
        <h2 class="featurette-heading fw-normal lh-1">Proyecto final. <span class="text-muted">Curso python</span></h2>
        <p class="lead">Esta pagina web es un proyecto para la plataforma coderhouse. En el contexto de trabajo final del curso de python para plicar todo lo visto en el mismo trabajando en equipo simulando un grupo de trabajo</p>
      </div>
      <div class="col-md-5 pt-4">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="\media\Coder.jpg" width="250" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Ivan Gonzalez. <span class="text-muted">Estudiante en programacion</span></h2>
        <p class="lead">Mi nombre es Iván, tengo 29 años, este es mi primer acercamiento a la programación.
          La idea del proyecto era crear una web con entradas de texto en la que los usuarios pudieran interactuar en los posteos.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="\media\Ivan.jpg" width="250" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Imanol Ortiz. <span class="text-muted">Estudiante en programacion</span></h2>
        <p class="lead">Mi nombre es Imanol, tengo 32 años comence este curso para iniciarme en el area de programación.
          En este proyecto pudimos aplicar todo lo visto dejando una muestra de las habilidades adquiridas .</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="\media\ima.jpg" width="250" height="250" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Inico</a></p>
    <p>&copy; 2022 Argentina &middot;</p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
{% endblock %}